# Compiled source #
###################
*.o
*.a
*.so
*.pyc
*.gcda
*.gcno
a.out

# Misc programs

*Test$

#directories
build*/
cmake-build-*/
doxygen/

#IDE
CMakeLists.txt.user
.idea/
.atom*
*.code-workspace
