# Compiled source #
###################
*.o
*.a
*.so
*.pyc
*.gcda
*.gcno

# Misc programs
cncsread
batchreader
genpixids
efu2
gencspec
gencspecfile
gennmxfile
gennmxpcap
dgmgjson
*Test$

#directories
build/

#IDE
CMakeLists.txt.user
