# Compiled source #
###################
*.o
*.a
*.so
*.pyc
*.gcda
*.gcno
a.out

# Misc programs

*Test$

#directories
build*/
cmake-build-*/
doxygen/

#IDE
CMakeLists.txt.user
.idea/
.idea

#large test files
a10000.h5
a01000.h5
